.speech
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 15px;
}
.direction
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 12px;
    background-color: aqua;
}
.direction:hover {
    background-color: rgb(94, 153, 153);
    color: rgb(128, 128, 128);
  }
.joel 
{   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(43, 226, 214, 0.596);
}
.andrew
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(112, 216, 122, 0);
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  s
  td, th {
    border: 1px solid #6b0c0c;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #6c0e4b;
  }
  .joel:hover {
    background-color: rgb(212, 0, 255);
    color: rgb(7, 7, 80);
    border-style: double;
    border-left: 10px solid rgb(11, 73, 85);
    }
    .andrew:hover {
    background-color: rgb(70, 158, 15);
    color: rgb(158, 104, 12);
    border-style: double;
    border-left: 10px solid rgb(198, 17, 32);
    }
   